version: '3.8'

services:
  db:
    image: postgres:13-alpine
    environment:
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - ./db_setup:/docker-entrypoint-initdb.d

  localstack:
    image: localstack/localstack
    ports:
      - "4566:4566"
    environment:
      - SECRET_NAME=${SECRET_NAME:-locust/rds/credentials}
      - AWS_DEFAULT_REGION=${AWS_REGION:-us-east-1}
      - DB_INSTANCE_IDENTIFIER=${DB_INSTANCE_IDENTIFIER:-locust-rds-instance}
    volumes:
      - "./init-localstack.sh:/etc/localstack/init/ready.d/init-localstack.sh"
      - "/var/run/docker.sock:/var/run/docker.sock"

  app:
    build: .
    ports:
      - "8089:8089" # Locust UI
      - "8501:8501" # Streamlit UI
    volumes:
      - .:/app
      - ~/.aws:/root/.aws:ro
    environment:
      - AWS_PROFILE=${AWS_PROFILE:-default}
      - SECRET_NAME=${SECRET_NAME:-locust/rds/credentials}
      - AWS_REGION=${AWS_REGION:-us-east-1}
      - AWS_ENDPOINT_URL=http://localstack:4566
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - DB_INSTANCE_IDENTIFIER=${DB_INSTANCE_IDENTIFIER:-locust-rds-instance}
      - USE_LOCALSTACK=true
    depends_on:
      - db
      - localstack
    command: streamlit run report.py

